/* if window size bigger then 995px */
@media screen and (min-width: 955px) {
	form#header_form {
		position: absolute;
	}
}

/* if window size less then 647px */
@media screen and (max-width: 647px) {

	#form_button {
		width: 85%;
	}

	form#header_form input:not([type="submit"]) {
		width: 85%;
		margin-right: 0;
		margin-left: 0;
	}

	form#header_form label {
		display: block;
		width: 100%;
	}
}
/* full size window */
#header_form {
	width: 100%;
	display: block;
	padding-top: 3px;
	padding-bottom: 2px;
	position: static;
	text-align: center;
	background: #cc0000;
	color: #ffffff;
}

input#username, input#email {
	padding: 0;
	margin-right: 30px;
	margin-left: 10px;
	margin-bottom: 5px;
	width: 200px;
}

#form_button {
	padding: 5px;
	background: #00A8EF;
	border-radius: 3px;
	margin-bottom: 3px;
}
